__pycache__
.mypy_cache
.pytest_cache
.ruff_cache
nohup.out
server.pid
builddir/
flatpak_builder_lint.egg-info/
!tests/builddir/
build/
repo/
!tests/repo/
.flatpak-builder/
.venv/
*.gz
*.svg
*.png
!tests/repo/min_success_metadata/gui-app/org.flathub.gui.png
/.history
