[Desktop Entry]
Name=Example
GenericName=Example
Comment=Example
Exec=Example %U
Icon=org.freedesktop.gitlab.foo.bar
Type=Application
Categories=Network;
Version=1.1
