[Desktop Entry]
Name=Example
GenericName=Example
Comment=Example
Exec="/app/bin/foo bar %F"
Icon=org.flathub.example.desktop-file-abs-exec
Type=Application
Categories=Network;
Version=1.1
