[Desktop Entry]
Name=Example
GenericName=Example
Comment=Example
Exec=foo %u
Icon=org.flathub.example.misplaced-icons
Type=Application
Categories=Network;
Version=1.1
